{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
 {{ super() }}
{% endblock %}


{% block head %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">505 - internal server error</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Bro that guy is definitely hacking</h2>
      </div>
    </div>
  </header>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}